<div class="col-sm-6">
  <div class="content-container">
    <table>
      <tr>
        <th>Style</th>
        <th>Markdown Syntax</th>
      </tr>
      <tr>
        <td>Autolink</td>
        <td>< ></td>
      </tr>
      <tr>
        <td>Bold and Underline</td>
        <td>**word**</td>
      </tr>
      <tr>
        <td>Heading</td>
        <td>###heading</td>
      </tr>
      <tr>
        <td>Small Heading</td>
        <td>####heading</td>
      </tr>
      <tr>
        <td>Image</td>
        <td>![](url)</td>
      </tr>
      <tr>
        <td>Italics</td>
        <td>_word_</td>
      </tr>
      <tr>
        <td>Bullet List</td>
        <td>* or -</td>
      </tr>

    </table>
  </div>
</div>
