<p><strong>GENERAL INQUIRIES:</strong></p>
<p><%= mail_to('sacredartstore@gmail.com')%></p>

<p><strong>ARTIST SUBMISSIONS:</strong></p>
<p>Before applying please read our <%= link_to "submissions guidelines", submissions_path %>.</p>
<p><%= mail_to('sacredartsubmissions@gmail.com') %></p>
