<p><strong>SOCIAL</strong></p>
<%= link_to "", 'https://twitter.com/sacredartchi?lang=en', class: "social ion-social-twitter", target: '_blank', alt: 'link to twitter account of sacred art' %>
<%= link_to "", 'https://www.facebook.com/sacredartchicago/', class: "social ion-social-facebook", target: '_blank', alt: 'link to facebook account of sacred art' %>
<%= link_to "", 'https://www.instagram.com/sacredartchicago/', class: "social ion-social-instagram-outline", target: '_blank', alt: 'link to instagram account of sacred art' %>
