<div class="row">
  <div class="col-sm-3 side-images">
    <%= image_tag('banks.jpg', alt: 'small ceramic piggie banks painting with pop culture icons', class: 'content-container side-image') %>
    <%= image_tag('birdhouses.jpg', alt: 'wooden birdhouses and small paintings of birds', class: 'content-container side-image')%>
  </div>
  <div class="col-sm-9" >
    <div class="content-container text-container">
      <p>Sacred Art was founded by Sarah Chazin in 2006 with the motto “Art Is Not A Luxury.” Our first storefront in
        Roscoe Village was a great start for Sacred Art and our small community of artists.</p>
      <p>In 2009, we moved up the street into our current space in Lincoln Square, where we grew both in square footage
        and also as a community to over 100 independent artists and makers.</p>
      <p>Kate Merena took over the business in 2013, and she has strengthened the mission of Local, Handmade, &
        Independent with a strong commitment to Lincoln Square/Ravenswood. Sacred Art sponsors local maker events,
        donates to local charities, and hosts art-related events that benefit local schools. Kate currently serves on
        the Board of the Lincoln Square Ravenswood Chamber of Commerce.</p>

    </div>
  </div>
</div>