<div class="row">
  <div class="col-sm-3 side-images">
    <%= image_tag('banks.jpg', alt: 'small ceramic piggie banks painting with pop culture icons', class: 'content-container side-image') %>
    <%= image_tag('birdhouses.jpg', alt: 'wooden birdhouses and small paintings of birds', class: 'content-container side-image')%>
  </div>
  <div class="col-sm-9" >
    <div class="content-container text-container">
        <h1>OUR VISION</h1>
        <p>Sacred Art is a community hub connecting artists expressing themselves freely with clients seeking high-quality
          art pieces. Our shop is a safe space for communication and expression, and we welcome curiosity and a sense of humor.</p>

        <h2>OUR VALUES</h2>

        <p><strong>ART IS NOT A LUXURY</strong><br>
          Art is a necessary piece of a positive, life-affirming culture, and (like life) it comes in all shapes, sizes,
          textures, colors and expressions. Our definition of art includes not only visual arts but also performing arts
          and the written word. We are especially curious about the places where these various forms overlap, and we
          welcome experimentation with form.<br>
          <br>
          <strong>LOCAL COMMUNITY</strong><br>
          From how we choose our artists to the events we participate in to where we donate our time and goods, Chicago is
          our focus. We are active participants in the vibrant Lincoln Square/Ravenswood neighborhood that we call home.<br>
          <br>
          <strong>ARTS ADVOCACY</strong><br>
          Representing independent makers and connecting them with our community is our privilege. We represent work from
          over 110 visual artists, and we host poets and musicians in our small space. We sponsor theater, music and
          storytelling events throughout Chicago. We would not exist if it weren’t for the immense talent and keen interest
          of our community. We are grateful for you, and it is our goal and pleasure to serve you well.</p>
    </div>
  </div>
</div>