  <div class="content-container text-container">
    <h2>Sacred Art was founded with the motto “Art Is Not A Luxury.”</h2>

    <p>Conceived of by Sarah Chazin in 2006, our first storefront in Roscoe Village was a great start for Sacred Art
      and our small community of artists. In 2009, we moved up the street into our current space in Lincoln Square,
      where we grew both in square footage and also as a community to over 100 independent artists and makers.</p>
  </div>
    <div class="content-container">
      <object class="interactive-view" data="https://my.matterport.com/show/?m=jEEP9YtsiVK&utm_source=4"></object>
    </div>

    <div class="content-container">
        <p>Kate Merena, one of Sacred Art's very first loyal customers, took over the business in 2013. In the last few
          years we have honed our mission of Local, Handmade, & Independent. We sponsor events such as Show of Hands and
          The Late Late Craft Show, donate to local charities, and host art-related events to benefit local schools. You
          can find us at our neighborhood street festivals, Square Roots in July and AppleFest in October. And we love
          to collaborate with other like-minded businesses on partnerships like Gift Chicago (2016) and events like Craft
          Party Craft Beer (2016). Kate also serves on the Board of the Lincoln Square Ravenswood Chamber of Commerce.</p>

        <p>We often get asked how we choose the items that we carry in the shop. At the heart of our process is community;
          we choose items that we like that are made by people we like. We know each of our 100 artists personally, and
          we believe in them and their work. Stop in, explore our selection, and ask us all your questions. We are here
          to connect you to the makers and the pieces that resonate with you.</p>

        <p>It's our goal that you leave Sacred Art inspired!</p>

    </div>



