<div class="content-container">
  <iframe class="interactive-view" src="https://my.matterport.com/show/?m=jEEP9YtsiVK&utm_source=4"></iframe>
</div>
<div class="content-container  text-container">
  <h2>Sacred Art was founded with the motto “Art Is Not A Luxury.”</h2>

  <div class="row">
    <div class="col-sm-8">
      <p>First conceived by Sarah Chazin in 2006, our first storefront in Roscoe Village was a great start for Sacred Art
        and our small community of artists. In 2009, we moved up the street into our current space in Lincoln Square, where
        we grew both in square footage and also as a community to over 100 independent artists and makers.
        One of Sacred Art's very first loyal customers, Kate Merena, took over the business in 2013 and continued to
        hone our mission of Local,Handmade, & Independent.
      </p>
      <br />
      <p>In the spring of 2018, Sacred Art welcomed new owners Kaitlin Fletcher and Brandon Comerford (pictured).
        They, along with Louie the Shop Dog (also pictured), are so excited to serve the community that they also
        call home. They are committed to providing the same quality of service and passion the shop has become
        known for and look forward to a bright and shiny future!
      </p>
      <br />
      <p>We sponsor and participate in events such as Show Of Hands, donate to local charities, and host
        art-related events to benefit local schools. You can find us at our neighborhood street festivals,
        Square Roots in July and AppleFest in October. We love to collaborate with other like-minded businesses
        on partnerships like Gift Chicago (2016) and events like Craft Party Craft Beer (2016).
      </p>
      <br />
      <p>We often get asked how we choose the items that we carry in the shop. At the heart of our process is community;
        we choose items that we like that are made by people we like. We know each of our 100 artists personally, and
        we believe in them and their work. Stop in, explore our selection, and ask us all your questions. We are here
        to connect you to the makers and the pieces that resonate with you.
      </p>
      <br />
      <p>It's our goal that you leave Sacred Art inspired!</p>
    </div>
    <div class="col-sm-4">
      <%= image_tag("owners.jpg", alt: "Meet Brandon and Kaitlin, Sacred Art's new owners!", class: "content-container side-image") %>
      <%= image_tag("louie.jpg", alt: "Louie the Shop Dog", class: "content-container side-image") %>
    </div>
  </div>
</div>



