<div class="row">
  <div class="col-sm-3 side-images">
    <%= image_tag('boats.jpg', alt: 'small wooden boxes with tiny boats and waves inside that are controlled by a crank', class: 'content-container side-image') %>
    <%= image_tag('bottles.jpg', alt: 'tiny rows of bottle stoppers with glass vessels on top with natural items inside', class: 'content-container side-image')%>
  </div>
  <div class="col-sm-9" >
    <div class="panel-group content-container">
      <h1>FAQ</h1>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq1">What is your return policy?  <span class="caret"></span></a>
          </h4>
        </div>
        <div id="faq1" class="panel-collapse collapse">
          <div class="panel-body">We exchange for the same artist within 14 days of purchase with original receipt. No
            returns or refunds.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq2">Can I request a custom piece?  <span class="caret"></span></a>
          </h4>
        </div>
        <div id="faq2" class="panel-collapse collapse">
          <div class="panel-body">Come in and chat with us about your wishes! Many of our artists will create a custom
            piece for you, and we have an extensive network of artists we can pull from to meet your needs. Prices will
            vary depending on artist, style, size of finished work, etc. Deposits are required on custom pieces.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq3">Do you offer custom framing?  <span class="caret"></span></a>
          </h4>
        </div>
        <div id="faq3" class="panel-collapse collapse">
          <div class="panel-body">We don’t offer custom framing at the shop any longer. Our expert framer Blackbird
            Gallery & Framing is nearby; please go visit them at 4428 North Ravenswood. Mention Sacred Art sent you!
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq4">What is the value of artwork from my collection? Will you buy it?
              <span class="caret"></span></a>
          </h4>
        </div>
        <div id="faq4" class="panel-collapse collapse">
          <div class="panel-body">We do not authenticate or appraise artwork, nor do we buy and sell from private
            collections. There are many resources in Chicago that can assist you; you will want to find an art dealer
            or auction house that specializes in the artist in question.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq5">Are you dog-friendly?  <span class="caret"></span></a>
          </h4>
        </div>
        <div id="faq5" class="panel-collapse collapse">
          <div class="panel-body">Yes!
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#faq6">Will you donate to my charity/non-profit/child’s elementary school?
              <span class="caret"></span></a>
          </h4>
        </div>
        <div id="faq6" class="panel-collapse collapse">
          <div class="panel-body">We get a large number of donation requests each week, and I wish we could donate to
            all of them. We donate to arts non-profits and neighborhood causes as often as possible.
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
