<div class="jumbotron">
  <h1 >Handmade. Local. Independent.</h1>
</div>

<div class="content-container who-we-are text-container">
  <h2>Welcome to Sacred Art!</h2>
  <p class="newspaper">
    Sacred Art is an art gallery and gift boutique located in Chicago’s lovely Lincoln Square neighborhood.<br><br>
    We represent over 100 independent artists and makers, almost all of whom live in Chicago.<br><br>
    We have something for everyone – whether you’re looking for affordable fine art, a handmade gift, or a little treat for yourself.<br><br>
    Stop in, sign up for our newsletter, or follow us on Instagram for our latest additions, new inventory and special events!
  </p>
</div>
