

<div class="content-container who-we-are">
  <h2>Welcome.</h2>
  <p class="newspaper">Sacred Art was founded in 2006 with the motto “Art Is Not A Luxury.”<br>
    <br>Art, as we see it, can be accessible to everyone, and we are here to bridge the gap between artists and clients.
    We can answer your questions about process and value, help you pick the perfect gift, assist you in choosing art for
    your collection, and find the right piece to bring a room together (or create a room around!).<br>
    <br>We are strong supporters of shopping local and small. We put our money where our mouth is and work only with
    independent makers. We don’t discount prices or haggle; our artists deserve to set prices that return them a living wage.<br>
    <br>At Sacred Art you will find unique, quality work created by an independent maker – and that person is likely to be your neighbor!</p>
</div>
