<div class="content-container">
  <object class='shop-embed' type="text/html" data="https://squareup.com/store/sacred-art">
    <p>oops! something seems to be wrong with our shopping cart right now, please check back soon.</p>
  </object>
</div>
