/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";


body{
  font-family: 'Josefin Sans', sans-serif;
  background-color: $background;
  margin: 0;
  color: $blackish;
  overflow: scroll;
}

*{
  box-sizing: border-box;
}

p{
  font-size: $paragraph;
}

.content-container{
  box-sizing: border-box;
  background: white;
  padding: $standard-padding;
  margin: $standard-margin;
}

.text-container{
  @extend .content-container;
  padding: $standard-padding 30px;
}

strong{
  font-weight: 800;
  border-bottom: 1px $accent solid;
  font-size: $paragraph;
}

nav{
  height: 70px;
  display: block;
  background-color: white;
}

.logo{
  height: 100%;
  display: inline;
}

.nav-li {
  display: none;
  float: left;
  font-size: 1em;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  list-style: none;
}

.nav-links{
  margin-bottom: 0px;
}

.nav-li a {
  text-decoration: none;
  color: $blackish;

}

.ion-navicon-round{
  float:right;
  margin-top: 20px;
  margin-right: 5vw;
  font-size: $icon-sizing;
  padding: 10px;
}

.ion-navicon-round:active {
  background-color: transparent;
}

.ion-navicon-round:active .nav-li .nav {
  display: block;
}

.dropdown-parent {
  overflow: hidden;
  padding-bottom: $standard-padding;
  background-color: transparent;
}

.dropdown-parent li {
  border: none;
  outline: none;
  background-color: inherit;
  padding: 0px 5px;
}

.dropdown-body {
  display: none;
  position: absolute;
  background-color: $offwhite;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba($offwhite, 0.2);
  z-index: 50;
  margin-top: 5px;
  padding: 10px 0;
}

#dropdown-mobile{
  right: 0;
  font-size: 0.6em;
}

.dropdown-body a {
  float: none;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-body li {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-body a:hover {
  background-color: $offwhite;
}

.dropdown-parent:hover .dropdown-body {
  display: block;
}

.mc-field-group{
  padding: 5px;
}

.mc-field-group input{
  min-width: 250px;
  border-radius: 5%;
  color: $blackish
}

iframe{
  border: none;
}

.button{
  width: 250px;
  margin: 8px;
  font-size: 1.1em;
  background-color: $slate;
  color: $white;
}

.footer p{
  font-size: 1em;
}

.footer-col{
  margin: 25px 0 10px 0;
  bottom: 0;
}

.footer .social {
  color: $white;
}

.footer .social:hover{
  color: $background;
}

div.footer{
  background-color: $blackish;
  color: $white;
  text-align: center;
  font-size: $paragraph;
  font-weight:bold;
  padding: 10px;
  width: 100%;
}


.col-sm-4{
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .footer-col:not(:last-child){
    border-bottom: none;
  }
}

@media screen and (min-width: 884px) {
  .ion-navicon-round {
    display: none;
  }

  nav {
    height: 90px;
  }

  .nav-links {
    float: right;
    vertical-align: bottom;
    margin-top: 55px;
  }

  .nav-li {
    display: block;
    font-size: $paragraph;
  }

  .row{
    margin: 20px;
  }

  .col-sm-4{
    padding: 15px;
  }
}


