p img{
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (min-width: 600px) {
  p img {
    float: left;
    clear: right;
    margin: 0 10px 10px 0;
    overflow: auto;
    max-height: 30vh;
    width: auto;
    display: inline-block;
  }
}
