@import 'variables';

.categoryLabel{
  text-align: center;
  font-size: $heading;
  padding-top: $standard-padding;
  text-transform: uppercase;
}

.categoryLabel a{
  color: $blackish;
}

.categoryImage{
  width: 100%;
}

@media screen and (min-width: 768px) {
  .categoryLabel{
    font-size: $paragraph;
  }
}

@media screen and (min-width: 1024px) {
  .categoryLabel {
    font-size: $heading;
  }
}
