@import 'variables';

table{
  width: 90%;
  margin: $standard-margin;
  background-color: $white;
}

td, th{
  text-align: left;
  padding: $small-padding;
  font-size: $paragraph;
}

th {
  font-size: $focus;
  font-weight: bold;
  border-bottom: 2px $blackish solid;
}

tr:nth-child(even){
  background-color: $offwhite;
}

tr:nth-child(odd){
  background-color: $white;
}
