table{
  width: 90%;
  margin: 20px;
  background-color: white;
}

td, th{
  text-align: left;
  padding: 15px;
  font-size: 120%;
}

th {
  font-size: 150%;
  font-weight: bold;
  border-bottom: 2px black solid;
}
tr:nth-child(even){
  background-color: #dddddd;
}

tr:nth-child(odd){
  background-color: white;
}