$blackish: rgba(51, 51, 51, 1);
$slate: rgba(112, 121, 140, 1);
$background: rgba(153, 204, 204, 1);
$offwhite: rgba(234, 242, 239, 1);
$accent: rgba(255, 102, 51, 1);
$white: rgba(255,255,255,1);

$small: 1em;
$paragraph: 1.25em;
$focus: 1.5em;
$heading: 1.75em;
$icon-sizing: 2.85em;


$small-padding: 15px;
$standard-padding: 20px;

$standard-margin: 15px;
$large-margin: 30px
