@import 'variables';

.who-we-are{
  width: auto;
  margin: auto;
}

.who-we-are p{
  font-size: $paragraph;
  max-height: 50vh;
  overflow: scroll;
}

.jumbotron{
  background-image: image_url("shop.jpg") ;
  background-size: cover;
  height: 60vh;
  background-position: center center;
}

.jumbotron h1{
  text-align: center;
  background-color: rgba($offwhite, 0.7);
  padding: $standard-padding;
  width: 100%;
  vertical-align: center;
  margin-top: 18vh;
}

.side-images{
  display: none;
}

.side-image{
  width: 100%;
  height: auto;
}

.panel-title a{
  font-weight: bold;
  font-size: $focus;
}

.panel-body{
  font-size: $paragraph;
}

.social{
  font-size: $icon-sizing;
  padding: 0 10px;
  color: $blackish;
}

.social:hover{
  color: $accent
}

iframe{
  width: 100%;
  height: 73vh;
}

.instagram-feed{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin: auto;
  width: 100%;
}

.instagram-image{
  min-width: 100%;
  min-height: 100%;
  vertical-align: center;
  display: block;
}

.instagram-image-div{
  height: 40vh;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

.instagram-comment{
  padding-top: 15px;
  font-size: $paragraph;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 15vh;
}

.instagram{
  height: 60vh;
}

@media screen and (min-width: 600px){
  .instagram-feed{
    grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 884px) {
  .newspaper{
    columns: 2;
    column-gap: 30px;
  }

  .side-images{
    display: block;
  }

  .instagram-feed{
    grid-template-columns: 33% 33% 33%;
  }
}

@media screen and (min-width: 1200px){
  .instagram-feed{
    grid-template-columns: 25% 25% 25% 25%;
  }
}