<h1 class="category-banner"><%= @category.name %></h1>

<% if current_user && current_user.role == 'admin' %>
    <div class="admin-buttons">
      <%= link_to "Add New Artist", new_category_artist_path(@category), class: 'btn btn-success' %>
    </div>
<% end %>

<%= render partial: 'artists/each' %>

